* {
    margin: 0;
    padding: 0;
    outline: 0;
}
.container {
    background-color: rgb(159, 153, 153);
    width: 100%;
    padding: 50px;
    position: relative; 
    background-size: cover;
    box-sizing: border-box;
}
.head {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.contain {
    margin: auto;
    background-color: white;
    text-align: left;
    width: 550px;
    height: 500px;
    border-radius: 10px;
    padding: 5px;
}
.contain .contact {
    border-radius: 20px;
    border: 5px;
    padding: 5px;
    background-color: rgb(9, 110, 234);
    width: 70px;
    text-align: center;
    margin: 10px 5px;
}
.span {
    text-align: center;
    margin: 10px auto;
    width: 200px;
}
.span ul li{
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}
.footer {
    border-radius: 10px;
    text-align: center;
    margin: auto;
    background-color: white;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    font-size: 13px;
}
.footer img {
    border-radius:5px 5px 0px 0px;
    width: 200px;
    height: 250px;
    margin-bottom: 5px;
}
a {
    text-decoration: none;
    color: black;
}
.contain, .head, .footer {
    box-shadow: 5px 5px 15px grey;
}